/* Noptions.css */
.providers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 120px;
    margin-top: 90px;

  }
  
  .provider-card {
    width: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    height: 300px;
  }
  
  .provider-card:hover {
    transform: translateY(-5px);
  }
  
  .provider-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .provider-info {
    padding: 15px;
    background: #f0f0f0;
    color: #333;
  }
  
  .provider-name {
    margin: 0;
    color: #2980b9;
    direction: rtl;
    text-align: center;

  }
  
  .provider-service, .provider-specialty, .provider-experience, .provider-rating {
    margin: 5px 0;
    color: #555;
    direction: rtl;
    text-align: center;
  }
  
  .provider-rating {
    font-size: 1.2rem;
    color: #0022ff;
  }
  
  .provider-actions {
    padding: 10px 15px;
    background: #f8f8f8;
    display: flex;
    justify-content: space-evenly !important;
  }
  
  .btn-details {
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    width: 50px !important;
  }
  
  .btn-details {
    background-color:#5aa726;
    width: 90px !important;
    margin: auto !important;
  }
  
  .btn-details:hover {
    background-color:#5aa726b6;
  }
  
 