.table {
    margin-top: 20px;
  }

  .button-reject,.button-accept {
    /* margin-left: 50px !important; */
    background-color: rgba(95, 167, 36, 0.932) !important;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center !important;
  }
  th,tr,td{
    text-align: center;
    /* border-radius: 5px;
    border: none; */
  }
  th{
    background-color: var(--main-color--) !important;
    color: #fff !important;
  }