.table {
    margin-top: 20px;
  }

  .button-reject,.button-accept {
    background-color: rgba(98, 179, 33, 0.932) !important;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center !important;
  }
  th,tr,td{
    text-align: center;
    
  }
  th{
    background-color: var(--main-color--) !important;
    color: #fff !important;
  }